@model string
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="col-form-label font-bold" id="exampleModalLabel"></label>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="modalBody">
                @* // TODO  *@
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
                <button form="submitForm" type="submit" id="btnSubmit" class="btn btn-success btn-shadow-hover font-weight-bold mr-2">@Model</button>
            </div>
        </div>
    </div>
</div>